Rent-A-Car/review-service/src/main/resources/wsdl/adverts.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://group56.com/soap-package" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://group56.com/soap-package" targetNamespace="http://group56.com/soap-package">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://group56.com/soap-package">
            <xs:element name="getAdvertsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="advertUUID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAdvertsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="adverts" type="tns:advertXML"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="advertXML">
                <xs:sequence>
                    <xs:element name="uuid" type="xs:string"/>
                    <xs:element name="isActive" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getAdvertsRequest">
        <wsdl:part element="tns:getAdvertsRequest" name="getAdvertsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAdvertsResponse">
        <wsdl:part element="tns:getAdvertsResponse" name="getAdvertsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AdvertServicePort">
        <wsdl:operation name="getAdverts">
            <wsdl:input message="tns:getAdvertsRequest" name="getAdvertsRequest"> </wsdl:input>
            <wsdl:output message="tns:getAdvertsResponse" name="getAdvertsResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdvertServicePortSoap11" type="tns:AdvertServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAdverts">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAdvertsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAdvertsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AdvertServicePortService">
        <wsdl:port binding="tns:AdvertServicePortSoap11" name="AdvertServicePortSoap11">
            <soap:address location="http://localhost:8085/posting-service/soapWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>